@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

* {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */

    font-family: "Lexend Deca", sans-serif;
    font-style: normal;

    margin: 0;
    padding: 0;
}

#app {
    display: flex;
    justify-content: center;
}

/* styling the H */
h1 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.5rem;
    font-weight: 500;
}

h3 {
    font-size: 1.2rem;
    font-weight: 500;
}


/* styling inputs */
input {
    width: 100%;
    border: none;

    font-size: 0.9rem;
    font-weight: 400;

    padding: 1rem 1.5rem;

    background-color: #FAFAFA;
}
input[type=date], input[type=time] {
    padding-bottom: calc(1rem - 2px);
    padding-top: calc(1rem - 2px);
}

textarea {
    display: block;
    width: 100%;
    border: none;

    font-size: 0.9rem;
    font-weight: 400;

    padding: 1rem 1.5rem;

    background-color: #FAFAFA;

    resize: none;
}

input:focus, textarea:focus {
    outline: none;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
}

select {
    width: 100%;
    border: none;
    border-radius: 0;

    font-size: 0.9rem;
    font-weight: 400;

    padding: 1rem 1.5rem;

    background-color: #FAFAFA;
    appearance: none; /* Removes default browser styling */
}

select:focus {
    outline: none;
}

.error {
    background-color: #f54646;
    color: white;
    padding: 0.5rem 1.5rem;
    font-weight: normal;
    font-size: 0.9rem;
}

/* mark */
mark {
    background-color: #C4FFF1;
    padding-left: 10px;
    padding-right: 10px;
}